header{
    text-align: center;
}
.block{
    width: 400px;
    float: right;
    margin-right: 700px;
    margin-top: 100px;
}
.rot{
    color: brown;
    text-align: center;
    font-size: 70px;
    
}
.cl{
    background-color: rgb(71, 67, 68);
}
